$rem: 16px;

$color-white: #FFF;
$color-black: #333;
$color-lightgrey: #C2CACC;
$color-grey: #3C4447;
$color-grey-transparent: rgba(60, 68, 71, .95);
$color-lightblue: #D1F0F7;
$color-blue: #A8E2EF;

$url-fonts-root: './fonts/';
$url-font-sans: '#{$url-fonts-root}abcsans';
$url-font-serif: '#{$url-fonts-root}abcserif';

$font-sans: "ABCSans", Helvetica, Arial, sans-serif;
$font-serif: "ABCSerif", "Book Antiqua", "Palatino Linotype", Palatino, serif;
