@import "./variables";
@import "./fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: $rem;
}

body {
  margin: 0;
}

.u-richtext {
  font-family: $font-serif;

  > * {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

@import "./components/Story/index";
@import "./components/Card/index";
