.Card {
  font-family: $font-sans;

  button {
    border: none;
    padding: 0.875rem;
    background-color: $color-grey;
    color: $color-white;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }
}

.Card-content {
  border-left: .125rem solid $color-grey;
  padding: 0 0 .375rem .375rem;

  .Card.is-collapsed > & {
    display: none;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

[class*="Card-controls"] {
  display: flex;
  justify-content: space-between;
}

.Card-controls--expanded {
  .Card.will-collapse > & {
    button {
      pointer-events: none;
      color: $color-lightgrey;
      font-style: italic;

      &::before {
        content: "✔︎ ";
      }
    }
  }

  .Card.is-collapsed > & {
    display: none;
  }

  .Story.has-familiar-user & a {
    display: none;
  }
}

.Card-controls--collapsed {
  .Card.is-expanded > & {
    display: none;
  }

  button {
    background-color: $color-blue;
    color: $color-grey;
  }
}
